.login-form {
    padding-top: 3%;
}

.main-login {
    font-size: x-large;
}

.login-content {
    height: 91vh;
    background-color: aquamarine;
}

.register-content {
    height: 145vh;
    background-color: aquamarine;
}