.login-form {
    padding-top: 3%;
}

.main-login {
    font-size: x-large;
}

.login-content {
    height: 100%;
    min-height: 100vh;
}

.register-content {
    height: 100%;
    min-height: 100vh;
}